{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-vue-jsx",
        "transform-runtime",
        "babel-plugin-transform-class-properties",
        "babel-plugin-syntax-flow",
        "babel-plugin-transform-flow-strip-types"
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-2",
                "flow"
            ],
            "plugins": [
                "istanbul"
            ]
        }
    }
}
