@value DeepPurple-400, Black-Icons, Black-Text, Grey-900, White-500 from '@/common/colors.css';

.item {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    display: flex;
    color: Black-Icons;
    user-select: none;
}

.hint {
    text-align: center;
    font-size: 18px;
}

.explorer {
    overflow: auto;
    height: 100%;
}

.name {
    color: Black-Text;
}

.chosen, .chosen .name {
    font-weight: bold;
}

.icon {
    line-height: 48px;
    margin-right: 8px;
}

.dropArea {
    min-height: 200px;
}

.dropZone {
    height: 100px;
    border: 1px dashed Grey-900;
    border-radius: 2px;
    margin: 8px 8px 0;
    transition: height 0.3s ease, background-color 0.3s ease;
    display: flex;
    cursor: pointer;
}

.dragOver {
    height: 200px;
    background-color: White-500;
}

.addIcon {
    color: Grey-900;
    margin: auto;
}

.textField {
    padding: 0 16px;
    margin-bottom: 0 !important;
}
