@value Black-Text from '@/common/colors.css';

.scriptField {
    overflow: hidden;
}

.inputGroup {
}

.label {
    margin-right: auto;
    color: Black-Text;
}

.container {
    margin-right: auto;
    display: flex;
}

.filePicker {
    display: flex;
}


