@value Black-Text from '@/common/colors.css';

.scriptField {
    overflow: hidden;
    margin: 4px 0;
}

.inputGroup .container {
    margin: 0 -4px;
}

.inputGroup .container > * {
    margin: 0 4px;
}

.label {
    margin-right: auto;
    color: Black-Text;
}

.container {
    margin-right: auto;
    display: flex;
}

.filePicker {
    display: flex;
}


