@value Blue-400, White-Text from '@/common/colors.css';

.treeItem {
}

.treeItem span {
}

.chosen {
    color: Blue-400;
    font-weight: bold;
}

.arrowIcon {
    transition: transform 0.3s ease;
}

.unFold {
    transform: rotateZ(180deg);
}
