@value Blue-400, White-Text from '@/common/colors.css';

.treeItem {
    display: flex;
    line-height: 32px;
    margin-left: 8px;
    cursor: pointer;
    height: 32px;
    overflow: hidden;
}

.treeItem span {
    padding: 2px;
    line-height: 32px;
    height: 32px;
}

.chosen {
    color: Blue-400;
    font-weight: bold;
}

.arrowIcon {
    transition: transform 0.3s ease;
    height: 32px;
    line-height: 32px;
}

.unFold {
    transform: rotateZ(180deg);
}
