@value Black-Text, Grey-100, Grey-200 from '@/common/colors.css';

.treeItem {
    cursor: pointer;
    overflow: hidden;
    color: Black-Text;
}

.itemContainer:nth-child(2n) {
    background: rgba(0, 0, 0, 0.02);
}

.children {
}

.treeView {
}

.hint {
    color: Black-Text;
    padding: 8px;
}
