@value Grey-400, Pink-500 from '@/common/colors.css';

.dock {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
}

.isLocked {
    color: Pink-500
}

.container {
    position: relative;
    left: -50%;
    padding-bottom: 32px;
}

.card {
    border-radius: 16px;
    overflow: auto;
    display: flex;
}

.left {
    border-right: 1px solid Grey-400;
    display: flex;
}

.right {
    display: flex;
}

.leftTool {
    margin-right: 16px;
}

.rightTool {
    margin-left: 16px;
}
