@value Grey-400, Pink-500 from '@/common/colors.css';

.dock {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
}

.isLocked {
    color: Pink-500
}

.container {
    width: 100%;
    height: 100%;
    margin-left: -50%;
    padding-bottom: 32px;
}

.card {
    border-radius: 16px;
}

.left {
    border-right: 1px solid Grey-400;
    float: left;
}

.right {
    float: right;
}

.leftTool {
    float: left;
    margin-right: 16px;
}

.rightTool {
    float: right;
    margin-left: 16px;
}
