@value White-500, Shadow-100 from 'Common/colors.css';
@value Inspector from '@/common/theme.css';

.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.content {
    box-shadow: Shadow-100;
    background: Inspector;
    padding: 16px;
    max-width: 600px;
    min-width: 300px;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 8px;
}
