.windowLabel {
    margin-bottom: -8px;
    transform: translateX(60%);
    transition: transform 0.3s ease;
}

.card {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px;
}

.name {
    text-align: center;
    margin-top: 8px;
}
