.container {
    margin-bottom: -20px;
    cursor: pointer;
}

.icon {
    margin: auto;
    display: block;
    user-select: none;
}

.card {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    padding: 8px;
    box-shadow: -4px 1px 6px rgba(0,0,0,.117647), -4px 1px 6px rgba(0,0,0,.117647);
}

.name {
    text-align: center;
    margin-top: 8px;
    user-select: none;
}
