.windowLabel {
    margin-bottom: -20px;
}

.icon {
    margin: auto;
    display: block;
    user-select: none;
}

.card {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    padding: 8px;
    overflow: auto;
    min-width: 68px;
}

.title {
    text-align: center;
    margin-top: 8px;
    user-select: none;
}
