<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>A game</title>
    <style>
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }
    </style>
</head>
<body>
<canvas id="renderCanvas"/>
<script type="text/javascript" src="babylon.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>
