@value Red-300, Purple-200, Black-Icons, Black-HintText, Grey-200, Grey-300, Grey-400, White-Text from 'Common/colors.css';

.animationEditor {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.toolBar {
    border-bottom: 1px solid Grey-400;
    height: 48px;
}

.toolBar :global(.mu-icon){
    color: Black-Icons;
}

.recording :global(.mu-icon){
    color: Red-300;
}

.leftPanel {
    min-width: 168px;
    max-width: 400px;
    width: 25%;
    background: Grey-300;
    border-right: 1px solid Grey-400;
}

.rightPanel {
    flex-grow: 1;
    background: Grey-200;
}

.toolIcon {
    cursor: pointer;
}

.fields {
    font-size: 16px;
}

.fieldItem {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fieldItem:nth-child(2n+1) {
    background: Grey-200;
}

.timeline {
    height: 48px;
    border-bottom: 1px solid Grey-400;
    overflow-x: auto;
    overflow-y: hidden;
}

.keyContainer, .keyContainer svg, .timeline svg {
    width: 100%;
    height: 100%;
}

.bigLine {
    stroke-width: 1;
    stroke: Black-Icons;
}

.hintLine {
    stroke: Black-HintText;
    stroke-width: 0.5;
}

.hint {
    padding: 16px;
}

.frameRect {
    fill: Black-Icons;
    cursor: pointer;
    opacity: 0;
}

.frameRect:hover:not(.setFrame) {
    opacity: 0.4;
}

.setFrame {
    opacity: 1;
    cursor: move;
}

.chosenFrame {
    fill: Red-300;
}

.indicator {
    stroke: Purple-200;
    stroke-width: 3;
    opacity: 0.8;
}

.indicator:hover {
    stroke-width: 6;
    opacity: 1;
}

.numberText {
    user-select: none;
}
