
@value Grey-100, BlueGrey-200 from '@/common/colors.css';

.fileDropper {
    width: 100%;
    margin-left: 16px;
    background: BlueGrey-200;
    cursor: pointer;
}

.dragOver {
    background: Grey-100;
}
