
@value Shadow-100, Grey-200 from '@/common/colors.css';

.fileDropper {
    width: 72%;
    padding-left: 8px;
    margin: 4px 0 4px auto;
    background: Grey-200;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    background: #D9C5BC;
    box-shadow: Shadow-100;
}

.dragOver {
    background: rgba(255, 255, 255, 0.4);
}
