@value DeepPurple-400, Black-Icons, Red-300 from '@/common/colors.css';

.sceneWindow {
    padding: 0 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    transition: height 0.3s ease;
    height: 48px;
}

.deleteIcon {
    margin-left: auto;
    color: Red-300;
}

.chosen {
    color: DeepPurple-400;
}

.dragOver {
    font-weight: bold;
}

.dropArea {
    flex: 1;
    min-height: 200px;
}
